snippet php "<?php ?>"
<?php $0; ?>
endsnippet

snippet array "array(...)" !
array(
  '$1' => $2,
  ${0:// other items}
);
endsnippet

snippet foreach "foreach()"
foreach ($${1:array} as $${2:item}${3: => $${4:value}}) {
  ${0:// loop}
}
endsnippet

snippet cm "multiline comment"
/*
 * $0
 */
endsnippet
