snippet bool "boolean sx field"
${1:field_name}:
  label: '$2'
  type: 'boolean'
endsnippet

snippet int "integer sx field"
${1:field_name}:
  label: '$2'
  type: 'integer'
  min_value: ${3}
  max_value: ${4}
  prefix: '${5}'
  suffix: '${6}'
endsnippet

snippet choice "choice sx field"
${1:field_name}:
  label: '$2'
  type: 'choice'
  choices:
    1: '$3'
    2: '$4'
    3: '$5'
    $0
endsnippet
